{% extends "base.html" %}

{% block content %}
<h3>{{action}} contact</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="csvFile">Upload Contacts from CSV file</label>
    <input type="text" hidden name="force" id="force" value="False" class="form-control hidden"/>
    <input type="file" name="csvFile" id="csvFile" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% if "Confirmation" in action %}
  <h4>{{action}} Email Exist</h4>

  <p id="demo"></p>

  <script>

    function myFunction() {
        var result = confirm("Email exist. Do you want to update?");

        if (result == true) {
            document.getElementById("force").value = "True";
            document.getElementById("save").click();
            return true;
        }
    }
    myFunction()

  </script>
{% endif %}

{% endblock %}
