{% extends "base.html" %}

{% block content %}
<h3>{{action}}</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="csvFile">Upload Contacts from file</label>
    <input type="text" hidden name="force" id="force" value="False" class="form-control hidden"/>
    <input type="file" name="csvFile" id="csvFile" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success" id="upload" name="upload">Upload</button>
</form>

{% if "Confirming" in action %}

  <script>

    function myFunction() {
        var result = confirm("Email exist. Do you want to update?");

        if (result == true) {
            document.getElementById("force").value = "True";
            document.getElementById("upload").click();
            return true;
        }
    }
    myFunction()

  </script>
{% endif %}

{% endblock %}
